extends users_layout


block users_content
  if message
    .row
      .col-sm-12
        .alert.alert-info
          strong= message

  meta(charset="utf-8")
  link(href="css/style.css", type="text/css", rel="stylesheet")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  style.
      table {
        margin-top: 100px;
        border-collapse: collapse;
        width: 100%;
        font-size: 16px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        background-color: #fff;
      }
      body{
        font-family: 'Lato', sans-serif;
      }
    table th {
      background-color: #3498db;
      color: white;
      font-weight: bold;
      padding: 10px;
      text-align: left;
    }
    table td {
      border: 1px solid #ddd;
      padding: 10px;
    }
    table tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    table tr:hover {
      background-color: #ddd;
    }
    h1 {
      text-align: left;
      margin-top: 100px;
      color: gray;
      font-weight: bold;
      text-shadow: 2px 2px #000000;
      text-align: center;
    }
    i.lock {
      margin-left: 20px;
      color: #3498db;
    }
    i.trash {
      margin-left: 10px;
      color: #e74c3c;
    }
    p {
      color: #3498db;
      margin: 0;
    }
    label{
      margin-top:10px;
      color: black;
      
    }



  body
    form.form-horizontal(method='POST' action='' style='box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);')
      .form-group.row
        .col-sm-2
          label(for='username') Username:
        .col-sm-10
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-user
            input#username.form-control(type='text' name='username' placeholder='Enter username' value=user.name readonly=readonly)








      .form-group.row
        .col-sm-2
          label(for='password1') Enter new password:
        .col-sm-10
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input#password1.form-control(type='password' name='password1' placeholder='Enter new password' value=(undefined===user.password1? '' : user.password1))








      .form-group.row
        .col-sm-2
          label(for='password2') Re-enter password:
        .col-sm-10
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input#password2.form-control(type='password' name='password2' placeholder='Re-enter password' value=(undefined===user.password2? '' : user.password2))








      .form-group.row
        .col-sm-2
          label(for='pass_set') Change password on next login:
        .col-sm-10
          input#pass_set(type='checkbox' name='pass_set' value='check')








      .form-group.row
        .col-sm-2
        .col-sm-10
          button.btn.btn-primary(type='submit') Set password
          = ' '
          a.btn.btn-default(href='/users' name='cancel' role='button') Cancel


      if errors
        .form-group.row
          .col-sm-12
            ul
              for err in errors
                li!= err.msg
  //- include ./footer.pug


